 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
 }

 :root {
    --primary: #fca4a4;
    --work: #b57eca;
    --home: var(--primary);
    --light: #eee;
    --grey: #888;
    --dark: #111161;
    --danger: #fa3734;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --workGlow: 0px 0px 4px rgb(167, 79, 201, 0.75);
    --homeGlow: 0px 0px 4px rgb(243, 138, 138, 0.75);
 }

 input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border:none;
    outline: none;
    background: none;
    cursor:initial;
 }
 
 body {
    background: var(--light);
    color: var(--dark);
 }

 section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
 }

 h3 {
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
 }

 h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
 }

 .greeting .title {
    display: flex;

 }

 .greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0 ;
 }

 .greeting .title, .greeting .title input {
    color: (--dark);
    font-size: 1.5rem;
    font-weight: 700;
 }

 .create-todo input[type="text"]{
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
 }

 .create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
 }

 .create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
 }

 input[type="radio"], input[type="checkbox"] {
    display: none;
 }

 .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 42%;
    border: 2px solid var(--work);
    box-shadow: var(--workGlow);
 }

 .bubble.home {
    border-color: var(--home);
    box-shadow: var(--homeGlow);
 }

 .bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: var(--work);
    box-shadow: var(--workGlow);
    border-radius: 42%;
    transition: 0.2s ease-in-out;
 }

 .bubble.home::after {
    background-color: var(--home);
    box-shadow: var(--homeGlow);
 }

 input:checked ~ .bubble::after {
    width: 11px;
    height: 11px;
    opacity: 1;
 }

 .create-todo .options label div {
    color: var(--dark);
    font-size: 1.1rem; 
    margin-top: 0.5rem;
 }

 .create-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: white;
    background-color: var(--dark);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
 }

 .create-todo input[type="submit"]:hover {
    opacity: 0.75;
 }

 .todoList .list {
    margin: 1rem 0;
 }

 .todoList .todoItem {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
 }

 .todoItem label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
 }

 .todoItem .todoContent {
    flex: 1 1 0%;
    overflow: visible;
 }

 .todoItem .todoContent input {
    color: var(--dark);
    font-size: 1.125rem;
    width: 90%;
 

 }

 .todoItem .actions {
    display: flex;
    align-items: center;
 }
 
 .todoItem .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #fff;
 }

 .todoItem .actions button:hover {
    opacity: 0.75;
 }

 .todoItem .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--work);
 }

 .todoItem .actions .delete {
    background-color: var(--danger);
 }

 .todoItem.done .todoContent input {
    text-decoration: line-through;
    color: var(--grey);
 }
 


